:root{
    --spie-blue: #131D59;
    --spie-red: #CE0004;
}
 
::selection{
    background: rgba(19, 29, 89,.2);
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar-container{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

nav{
    display: flex;
    height: 60px;
    padding: 0px 50px;
    /* border: 1px solid red; */
    background-color: var(--spie-blue);
    color: #fff;
    align-items: center;
    box-sizing: border-box;
}

nav.red{
    background-color: var(--spie-red);
}

nav ul{
    display: flex;
}

nav ul li{
    margin-right: 60px;
}

nav ul li:after{
    content: ">";
    position: relative;
    left: 30px;
}

nav ul li:last-child:after{
    content: "";
}

nav a{
    color: inherit;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
    background-color: #EBECEF;
    box-sizing: border-box;
    justify-content: center;
    
    display: flex;
    overflow: hidden;
}

.container.red{
    background-color: #efebeb;
}

@media only screen and (max-width: 800px){
    .container{
        background-color: green !important;
    }
}

.left{
    width: 60%;
    height: 100vh;
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left .inner{
    max-width: 500px;
    
    opacity: 0;
    animation-name: fadeInLeftInner;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.left h1{
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 30px;
    /* font-style: italic; */
}

.left p{
    font-size: 18px;
    opacity: .7;
    line-height: 1.6;
    margin-bottom: 50px;
}

.left a{
    color: var(--spie-blue);
    background-color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
    
    transition: background-color .5s ease-in-out, color .5s ease-in-out, box-shadow .5s ease-in-out; 
}

.left a:hover{
    background-color: var(--spie-blue);
    color: #fff;
    box-shadow: 0px 10px 25px rgba(0,0,0,.15);
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.right a{
    text-decoration: inherit;
}

.portal{
    /* border: 1px solid red; */
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: opacity .5s ease-in-out;
}

.portal:hover{
    cursor: pointer;
    opacity: .7;
}


.portal h2{
    font-size: 30px;
    margin-top: 4px;
    font-weight: bold;
    transition: transform .5s ease-in-out;

    opacity: 0;
    animation-name: fadeInPortalHeader;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

.portal p{
    transition: transform .5s ease-in-out;

    opacity: 0;
    animation-name: fadeInPortalP;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

.nieuweMelding h2,
.nieuweMelding p{
    animation-delay: .6s;
}

.meldingenOverzicht{
    background-color: var(--spie-blue);
}

.nieuweMelding{
    background-color: var(--spie-red);
}

.repository{
    height: 100vh;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: fadeInFromBottom 1s ease-in-out;
}

.repository p{
    opacity: .7;
}

.register-container{
    display: flex;
    margin-top: 30px;
}

.register-container a{
    text-decoration: initial;
}

.register-container a.unavailable{
    opacity: .3;
}

/* todo make this so it does not animate. */
.register-container a.unavailable:hover{
    cursor: not-allowed;
    transform: translateY(0px);
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
}

/* .register-container a.unavailable:hover{
    transform: translateY(0px);
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
} */

.register-item{
    background-color: var(--spie-blue);
    color: #fff;
    text-align: center;
    max-width: 340px;
    padding: 50px;
    box-sizing: border-box;
    margin-right: 40px;
    border-radius: 3px;
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.register-item.red{
    background-color: var(--spie-red);
}

.register-item:hover{
    transform: translateY(-8px);
    box-shadow: 0px 25px 40px rgba(0,0,0,.2);
    cursor: pointer;
}

.register-item:last-child{
    margin-right: 0px;
}

.register-item h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.register-item p{
    font-style: normal;
    font-weight: lighter;
    line-height: 1.2;
}

.table-container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;

    animation: fadeInFromBottom 1s ease-in-out;
}

.table-container .table-options{
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    box-sizing: border-box;
    max-width: 100%;
}

.table-container .table-options div{
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #DDD;
    box-sizing: border-box;
    margin-left: 20px;
    box-shadow: 0px 2px 15px rgba(0,0,0,.1);
    transition: box-shadow .3s ease-in-out;
}

.table-container .table-options div:hover{
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);   
}

.table-options img{
    max-width: 18px;
}

.table-options .search-bar{
    padding: 20px 32px !important;
    margin-right: auto;
    margin-left: 0px !important;
}

.table-options .search-bar p{
    opacity: .7;
}

.table-options .search-bar img{
    width: 16px;
    max-height: 100%;
    margin-right: 14px;
    transform: translateY(2px);
}

.table-container table{
    width: 100%;
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0px 2px 25px rgba(0,0,0,.1);
}

.table-container table tr{
    border-bottom: 1px solid #DDD;
    text-align: left;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.table-container table tr:hover{
    background-color: var(--spie-blue) !important;
    color: #fff;
}

.table-container table tr:first-child{
    /* font-weight: medium; */
    opacity: .7;
    background-color: #fff !important;
    color: #000 !important;
}

/* .table-container table tr:first-child th::after{
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    background: transparent url('i/icon-toggle.png') no-repeat;
} */

.table-container table tr:nth-child(2n-1){
    background-color: #f7f7f8;
}

.table-container table tr th{
    padding: 20px;
}

.melding-form{
    margin-top: 100px;
    padding: 60px;
    box-sizing: border-box;
    width: 680px;
    background-color: #fff;
    animation: fadeInFromBottom 1s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 2px 30px rgba(0,0,0,.1);
    margin-bottom: 60px;
}

.melding-form h2{
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.melding-form h2:first-child{
    margin-top: 0px;
}

.melding-form label{
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.melding-form input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #bab0b0;
    background-color: #efebeb;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #333;
    box-sizing: border-box;
}

.melding-form select{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #bab0b0;
    background-color: #efebeb;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #333;
    box-sizing: border-box;
}

.melding-form .form-comment{
    font-style: italic;
    opacity: .7;
    margin-bottom: 6px;
}

.melding-form button{
    margin-top: 20px;
    width: 100%;
    padding: 16px;
    background-color: var(--spie-red);
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border-radius: 4px;
}

.melding-form button:hover{
    cursor: pointer;
}


/*     */

@keyframes fadeInLeftInner {
    from {opacity: 0; transform: translateX(-100px);}
    to   {opacity: 1; transform: translateX(0px);}
}

@keyframes fadeInRight {
    from {opacity: 0; transform: translateX(100px);} 
    to   {opacity: 1; transform: translateX(0px);}
}

@keyframes fadeInPortalHeader {
    from {opacity: 0;}
    to   {opacity: 1;}
}

@keyframes fadeInPortalP {
    from {opacity: 0; margin-top: 60px;}
    to   {opacity: .7; margin-top: 0px;}
}

@keyframes fadeInFromBottom {
    from {opacity: 0; transform: translateY(40px);}
    to   {opacity: 1; transform: translateY(0px);}
}